<!DOCTYPE html>
<html lang="en" ng-app="application">
  <head>
    <meta charset="utf-8">
    <title>Stephane Kiss</title>
    <meta name="description" content="">
    <base href="/">
    <link type="text/css" rel="stylesheet" href="app.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=1180px">
  </head>
  <body ng-controller="mainController">
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '741529009289710',
          xfbml      : true,
          version    : 'v2.3'
        });
      };
      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      
    </script>
    <script>
      window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };
        return t;
      }(document, "script", "twitter-wjs"));
      
    </script>
    <div id="fb-root"></div>
    <header><i ng-click="goTo()" ng-show="!!currentVideo" class="back-button fa fa-arrow-circle-left"></i>
      <div ng-click="goTo()" class="logo">
        <div class="title">Stephane Kiss</div>
        <div class="subtitle">Filmmaker</div>
      </div>
      <div class="social-links"><a href="//vimeo.com/stephanekiss" target="_blank"><i class="fa fa-vimeo-square"></i></a><a href="//www.youtube.com/c/StephaneKiss " target="_blank"><i class="fa fa-youtube-square"></i></a><a href="//twitter.com/skiss" target="_blank"><i class="fa fa-twitter-square"></i></a><a href="//facebook.com/skiss" target="_blank"><i class="fa fa-facebook-square"></i></a></div>
    </header>
    <div id="home" ng-if="!currentVideo">
      <div id="home-player">
        <video autoplay loop poster="/images/home.jpg">
          <source src="/images/home.mov" type="video/mp4">
        </video>
      </div>
      <div class="thumbnails">
        <div ng-repeat="video in videos" ng-click="goTo(video)" ng-mousemove="thumbnailIndex = getHoverIndex($event)" ng-mouseleave="thumbnailIndex = null" class="thumbnail">
          <div class="title">{{ video.shortTitle }}</div><img ng-src="{{ getThumbnailUrl(video, thumbnailIndex) }}">
        </div>
      </div>
    </div>
    <div id="details" ng-if="currentVideo">
      <div ng-if="currentVideo.vimeoId" ng-click="openShareDialog()" class="share-button">Spread the<i class="fa fa-heartbeat"></i></div>
      <div id="video-player" ng-class="{ 'is-anamorphic': isAnamorphic(currentVideo) }">
        <iframe ng-src="{{ getEmbedUrl(currentVideo) }}" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
      </div>
      <div class="thumbnails">
        <div ng-repeat="thumbnailIndex in getThumbnailIndexes()" class="thumbnail"><img ng-src="{{ getThumbnailUrl(currentVideo, thumbnailIndex) }}"></div>
      </div>
    </div>
    <footer>
      <div class="follow-buttons">
        <div ng-mouseover="expandFollowButtons()" class="follow-button-toggle"><i class="fa fa-comments"></i>Keep in touch!</div>
        <ul ng-class="{ 'is-shown': followButtonsAreExpanded }">
          <li>
            <div data-href="https://www.facebook.com/skiss" data-colorscheme="light" data-layout="button" data-show-faces="true" class="fb-follow">     </div>
          </li>
          <li><a href="https://twitter.com/skiss" data-show-screen-name="false" data-show-count="true" class="twitter-follow-button">Follow @skiss</a></li>
        </ul>
      </div>
    </footer>
    <!-- a class="twitter-timeline" href="https://twitter.com/skiss" data-widget-id="607788096965320704">Tweets by @skiss</a-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-64698321-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>